.editButton {
  position: absolute;
  background-color: var(--color-primaryHover);
  top: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  min-width: 3rem;
  color: var(--color-buttonPrimaryText);
  font-weight: 600;
  border-radius: 0.5rem;
  backdrop-filter: blur(8px);
  transition: all 0.2s ease;
  cursor: pointer;
}

.editButton:hover {
  transform: translateY(-2px);
  scale: 1.03;
}

.splitIndicator {
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--color-primary);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: inline-block;
}